@media all {
	body {
		font-family:Verdana;
	}
}

@media screen {
	body {
		background: #000 url('background.png') repeat left top;
		color: #fff;
		text-align: center;
	}
	header, footer, article {
		margin:0em auto;
	}
	header {
		text-align: right;
	}
	footer {
		
	}
	article {
		padding:1em;
		border-radius:.5em;
		background:#fff;
		color:#000;
		text-align:left;
		margin:1em auto;
		border:1px solid #fff
	}
}

@media only screen
and (max-width: 768px) {
	body {
		padding:0em 1em 0em 1em;
	}
}

@media only screen
 and (-webkit-min-device-pixel-ratio: 1.25)
	body {
		padding:0em 1em 0em 1em;
	}
}

@media only screen
and (min-width: 768px) {
	header, footer, article {
		width:70%;
		min-width:48em;
	}
}

@media print {
	header, footer {
		display:none;
	}
}